@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h1 class="m-0">Enrollment Report</h1>
                </div>
                <form method="post" >
                    <div class="datePickers d-flex justify-content-start ">
                        <div class="startDate">
                            <label for="inputStartDate">Start Date</label>
                            <input name="StartDate" type="date" asp-format="{0:yyyy-MM-dd}" required />
                          </div>
                        &nbsp;&nbsp;
                        <div class="endDate"><label for="inputEndDate">End Date</label>
                            <input name="EndDate" type="date" asp-format="{0:yyyy-MM-dd}" required/>
                        </div>
                        &nbsp; &nbsp;
                        <div><button formaction="Enrollmentreport">Go</button>
                        </div>
                    </div>
                </form>

                <table class="table table-striped table-bordered" id="dtable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Customer Id</th>
                            <th>Uniquie Id</th>
                            <th>Enrollment Id</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Enrolldata in Model)
                        {
                            <tr>
                                <td>@Enrolldata.date</td>
                                <td>@Enrolldata.Customer_Id</td>
                                <td>@Enrolldata.Uniqueid</td>
                                <td>@Enrolldata.EnrollmentId</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- footer-->
<footer class="main-footer">
    <strong>Copyright &copy; 2023 <a href="https://kaizenvoiz.com/">Kaizen Voize</a>.</strong>
    developed by <b>Kaizen Voiz</b>
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
    </div>
</footer>
<!--Footer End-->

<script>
    $(document).ready(function () {
        // $('#dtable').DataTable();
        let table = new DataTable('#dtable');
    });
</script>