@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>visit to our company <a href="https://kaizenvoiz.com/"> kaizen secure voice</a>.</p>
</div>


<div class="d-inline-flex p-2">That Time to start to learn...!</div>